* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #111;
  color: white;
  padding: 40px;
}
button {
  padding: 10px 20px;
  background-color: royalblue;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
}
button:active{
  scale: 0.95;
}
h1{
  height: 100px;
  width: 100px;
  background-color: rgb(162, 202, 202);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

input{
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}