* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  background-color: #fff;
  color: #444242;
}

.nav {
  height: 80px;
  width: 100%;
  padding: 30px;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav .right {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav .right .other {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav .left {
  white-space: nowrap;
}

.centerImg {
  position: absolute;
  height: 100vh; /* IMPORTANT */
  width: 60%;
  right: 40px;
  background-image: url("/sanjeev.png"); /* CORRECT PATH */
  background-size: cover;
  background-position: top;
}
