* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #111;
  color: #fff;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

h1 {
  height: 100px;
  width: fit-content;
  padding: 10px;
  background-color: rgb(172, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #141414;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  padding: 25px;
  background-color: rgb(29, 200, 200);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
}

.nav h3 {
  text-decoration: none ;
}
