* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #111;
  color: #fff;
}
.parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 300px;
  background-color: #999898;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  gap: 10px;
}
.card h1 {
  font-size: 35px;
  font-weight: 700;
}
.card p {
  margin: 20px;
  font-size: 18px;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin-bottom: 10px;
}
