* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #111;
  color: #fff;
}

.card {
  margin: 30px;
  background-color: crimson;
  padding: 20px;
  border-radius: 10px;
}
.nav {
  background-color: rgb(0, 255, 153);
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
}
