* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

form{
  padding: 30px;
  background-color: #dadada;
  display: flex;
  gap: 10px;
}

input,button{
  padding: 10px 20px;
}