* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body :root {
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
}

.pairent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.counter {
  height: 80px;
  width: 300px;
  background-color: rgb(156, 157, 157);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  padding: 10px 20px;
  background-color: turquoise;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  color: rgb(238, 230, 230);
}

button:active {
  scale: 0.94;
}

.theam {
  height: 100vh;
  width: 100%;
}

.dark {
  background-color: #313131;
}
.light {
  background-color: #d8d6d6;
  color: black;
}
