* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* padding: 10px; */
  /* background-color: #111; */
}
.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: antiquewhite;
  flex-wrap: wrap;
  padding: 5px;
}
.card {
  /* height: 440px; */
  width: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  position: relative;
}

.card .bgImg {
  height: 140px;
  border-radius: 20px;
  overflow: hidden;
}

.bgImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.card .profile {
  overflow: hidden;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 35%;
  border: 2px solid red;
}
.card .profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card .content {
  padding-top: 20%;
  margin-left: 15%;
  text-align: center;
  width: 200px;
}
.card .content p {
  color: #8a8888;
  padding: 5px;
}

.card .counter {
  height: 85px;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 20px;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card .counter p {
  text-align: center;
  color: #615f5f;
}
.card .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  font-size: 18px;
}
